.timeslots {
    display: flex;
    flex-direction: column;
    gap : 10px;
    position: absolute;
    top : 100px;
    bottom : 0px;
    right: 20px;
    left: 20px;
    overflow-y: auto;
    overflow-x: auto;
}

.timeslot{
    min-height: 66px;
    background: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
  }
  
  .time-slot:hover{
    background-color: #00A7FF;
  }

  .stretch-btn{
    top : 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    position : absolute;
    background: rgba(24, 151, 230, .7);
    height: 30px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
  }
  
  