.timeslots {
    display: flex;
    flex-direction: column;
    gap : 10px;
    position: absolute;
    top : 40px;
    bottom : 0px;
    right: 0px;
    left: 0px;
    overflow-y: auto;
    overflow-x: auto;
    background-color: rgba(175, 175, 175, .15);
    padding: 20px 0px;
    box-shadow: inset 0px 3px 6px rgba(0, 0, 0, .16);

}

.timeslot{
    min-height: 66px;
    background: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
  }
  
  .time-slot:hover{
    background-color: #00A7FF;
  }

  .stretch-btn{
    position : absolute;
    left: -15px;
    background: rgba(0, 0, 0, .65);
    top : 18px;
    height: 25px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
  }

  .stretch-btn img{
    pointer-events: none;
    width : 15px;
  }
  
  