.timeslots {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 40px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  overflow-x: auto;
  list-style-type: None;
  margin-left: 0;
  padding-left: 0;
  margin : 0;
}

.timeslots li {
  min-width: 150px;
  transition-duration: .3s;
  border-radius: 7px;
}

.timeslots li:hover{
  background-color: rgba(0, 0, 0, 0.05);
}

.timeslot {
  background: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  font-weight: 200;
  font-style: italic;
  font-size: 13px;
  justify-content: center;
  text-align: center;
}

.time-slot:hover {
  background-color: #00a7ff;
}

.stretch-btn {
  position: absolute;
  left: -15px;
  background: rgba(0, 0, 0, 0.65);
  top: 18px;
  height: 25px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.stretch-btn img {
  pointer-events: none;
  width: 15px;
}

@media (min-width: 600px) {
  .timeslots {
    background-color: rgba(175, 175, 175, 0.15);
    padding: 20px 0px;
    box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.16);
    flex-direction: column;
    top: 40px;
    overflow-y: auto;
  }

  .timeslots li {
    height: 66px;
  }
}
