.request-offs{
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}

.requestoff-lists{
    background-color: #F5F5F5;
    flex: 1;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.request-offs .back {
    width: min-content;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top : 0;
    margin:  0;
    left : 0
}

.request-offs .back img{
    width: 1.5rem;
}

.collapse-container{
    position: absolute;
    right : 0;
    bottom: 0;
    top: 0;
    background-color: #2A2A2A;
    display: flex;

}

.request-off-menu{
    color: white;
    margin-left: auto;
    flex: 1;
}

.requests{
    min-height: 150px;
}

.requests ul{
    padding: 0;
    display: inline-flex;
    overflow-x: auto;
    padding: 10px;
    gap: 20px;
    min-width: 0;
    width: 100%;
}

.requests ul li{
    overflow: hidden;
}

.requests h3{
    opacity: .47;
}

.add-request{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #FAFAFA;
}
.add-request h4{
    display: inline-block;
    opacity: .52;
    font-weight: 500;
}

.add-request h3{
    font-weight: normal;
    opacity: .57;
}



.card-contents{
    width: 100px;
    height: 100px;
    color : white;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: start;
    box-sizing: border-box;
    padding : 10px;
    background: none;
}

.card-contents h2{
    font-size: 19px;
    font-weight: 500;
    margin : 0px 0px 5px 0px;
}

.card-contents p{
    margin: 0;
    line-height: 12px;
}

.card-contents .time-off{
    text-align: left;
    font-weight: 300;
    opacity: .84;
    font-size: 9px;
}

.card-contents .type{
    font-size: 8px;
    font-weight: 200;
}

.type-hidden{
    visibility: hidden;
}
