html{
  overflow-y: overlay;
}


body{
  margin: 0;
}

.app{
  background: #E1E4E5;
  display:flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

main {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: white;
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 1600px;
  flex: 1;
}



@media (min-width : 600px) {
  main{
    flex-direction: row;
    background-color: white;
  }
}
 
/* Track */
::-webkit-scrollbar {
  overflow-y: scroll;
  width: 5px;
  padding: 10px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: #cecece;
  border-radius: 20px;
}
