.drawer {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 70px;
  background: rgba(23, 53, 69, 0.97);
  color: white;
  display: flex;
  flex-direction: column;
  z-index: 2;
}



.drawer-content {
  margin : 0px 10px;
}

.add-prompt ul{
  padding : 0px;
  display: flex;
  flex-direction: column;
  gap : 28px;
}

.add-prompt ul li{
  list-style-type: none;
  display: flex;
  
}

.add-prompt ul li img:hover{
  opacity: .75;
}

.save-prompt{
  flex-direction: column;
}


@media (min-width: 600px) {

.drawer{
    position: absolute;
    width : 320px;
    left : auto;
    border-radius:7px 0px 0px 7px;
}

  .drawer-header {
    display: none;
  }
}
