.main {
  background: #F0F0F0;
  display: grid;
  grid-template-rows: min-content 1fr;
  align-items: center;
  flex-grow: 1;
  justify-items: center;
}

.container1 {
  display: flex;
} 

.header {
  font-size: 20px;
}

.search{
  margin-left: auto;
  font-size: 9px;
  text-align: center;
  margin-left: auto;
}

.container2 {
  width : min-content;
  border-radius: 7px;
}

.list{
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  border-radius: 7;
  gap : 10px;
  padding: 10px;
}

.schedule{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap : 10px;
}

.actions {
  display: flex;
}



@media (min-width: 600px) {
  .container2{
    align-self: start;
    justify-self: start;
    width: auto;
  }
  .list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .container1{
    justify-self: stretch;
  }
  .header { 
    font-size: 27px;
    justify-self: start;
  }

}

@media (min-width: 860px) {
  .main {
    grid-template-rows: min-content 200px;
    grid-template-columns: 1fr;
  }

  .schedules {
    align-self: start;
    justify-self: start;
  }
} ;

@media (min-width : 1160px){
    .main {
        grid-template-columns: min-content 1fr;    
    }
    
}