.schedule-main{
    height: 483px;
    width: 349px;
    border-radius: 0px;
    display: grid;
    grid-template-rows: 57px 1fr;
}

.schedule-main header{
    background-color: #F6F6F6;
    display: flex;
}

.schedule-main h1{
    font-size: 1.5em;
    font-weight: normal;
    color: white;
}

.schedule-toolbar{
    flex: 1;
    display: flex;
    align-items: center;
}

.headertext-background{
    background :#275C78;
    display: flex;
    align-items: center;
}

.active-indicator{
    bottom: 0px;
    position: absolute;
    width: 100%;
    height : 2px;
    transition: opacity .2s;
}