.team-prompt {
    flex-direction: column;
}

.team-prompt ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.team-prompt ul li .tm-dogtag{
    background-color: #F5F5F5;
    display: flex;
    width: 218px;
    height: 85px;
    text-align: center;
    border-radius: 7px;
    text-transform: capitalize;
}

.tm-dogtag .text-container{
    flex : 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tm-dogtag h2{
    color: black;
    font-weight: 500;
    font-size: 23px;
    margin : 3px;
    margin-top: 22px;
}

.tm-dogtag p{
    margin: 0;
    font-size: 10px;
    color: #626262;
}

.tm-dogtag .slider-container-outer{
    display: flex;
    width: 30%;
}

.tm-dogtag .slider-container-inner{
    margin: auto;
}

.tm-dogtag .slider-container-inner p{
    margin: 2px;
    text-transform: uppercase;
}