.drawer-container{
  position: absolute;
  right: 100%; 
  top: 0px; 
  bottom: 0px;
  display: flex;
  overflow: overlay;
  background: rgba(46, 58, 64, .9);

}

.drawer-container-hidden{
  display: none;
}

.drawer{
  background: blue;
  width: 300px;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  
}

.drawer-content{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.prompt{
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.prompt-hidden{
  display: none;
}




/*

.drawer {
  background: rgba(53, 60, 63, .9);
  color: white;
  display: flex;
  flex-direction: column;
  width : 300px;
  position: relative;
  background-color: aliceblue;
  flex: 1;
}


*/




/*
.drawer {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 70px;
  background: rgba(53, 60, 63, .9);
  color: white;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.prompt{
  flex-direction: column;
  padding: 20px;
}



.prompt h1{
    font-size: 36px;
    line-height: 45px;
    font-weight: 500;
}

.drawer h4{
  font-weight: 300;
}

.drawer-content {
  margin : 0px 10px;
}


@media (min-width: 600px) {

.drawer{
    position: absolute;
    width : 320px;
    left : auto;
    border-radius:7px 0px 0px 7px;
}
}
**/