.error {
  color: red;
}

.list {
  color: orange;
}

.skull {
  width: 20px;
}

.scrollmenu {
  min-width: 100%;
  min-height: 200px;
  display: flex;
  overflow: auto;
  white-space: nowrap;
}

.scrollmenu li {
  color: white;
  min-width: 200px;
  margin: 5px;
  display: inline-block;
  text-align: center;
}

.thumbnail h3 {
  color: black;
}
.thumbnail h1 {
  font-size: 200px;
  text-align: center;
}

.logo {
  margin: 10px;
}

.btn-block {
  background-color: red;
}

.day-thumbnail {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
}

.circle {
  background-color: red;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 20px;
  color: white;
}

.week {
  margin: 50px;
  background-color: rgb(241, 241, 241);
}

.btn {
  height: 20px;
  width: 15%;
  border-radius: 50%;
  padding: 30px;
  margin: 30px;
  color: white;
}

.test {
  color: green;
}
