.help-prompt{
    padding : 30px;
}

.help-prompt h4{
    line-height: 23px;
}

.help-item{
    display: grid;
    grid-template-columns: 30px 1fr;
    column-gap: 18px;
    justify-items: center;
}

.help-item h3{
    margin : 10px 0px;
    font-weight: 500;
}

.help-item p{
    margin: 0px;
    opacity: .8;
    line-height: 23px;
}

.help-item .drag-icon{
    width: 15px;
    background: rgba(0,0,0,.56);
    padding: 8px 12px;
    border-radius: 3px;
    margin :0;
    margin-top: 50px;
}