.side-navbar{
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.28);
}

nav{
    background-color: #51636D;
    height: 100%;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.placeholder-nav{
    background-color: green;
    height: 100%;
    width : 70px;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%;
    position: relative;
    font-size: 9px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 0px;

}

.active{
    opacity: 1;
}

.inactive{
    opacity: .5;
}

.nav-link :hover{
    opacity: 1;
}  

.nav-button {
    color : #51636D;
    width: 100%;
    position: relative;
    font-size: 9px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    border: none;
    padding-top: 10px ;
}


.nav-button:hover{
    opacity: 1;
}

.nav-link p{
    margin: 0px;
}