.tabs-container {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 0px 10px;
  max-width: 1600px;
  background-color: white;
  position: absolute;
  left : 70px;
  right : 0px;
  min-height: 100%;
}

.tabs::-webkit-scrollbar {
  display: none;
}


.tabs {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  width : 100%;
  overflow-x: auto;
  display: flex;
  gap: 10px;
  top  :0px;
}


.tab {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  flex-shrink: 0;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  cursor: pointer;
  font-size: 32px;
  position: relative;
  border: none;
  text-align: center;
  transition-duration: 0.2s;
  overflow: hidden;
  border-radius: 7px 7px 0px 0px;
  color: #becacf;
  background-color: #627e8c;
  height: 80px;
}

.tab.active {
  background-color: #275c78;
  color: white;
  width: 260px;
}

.tab:hover {
  opacity: 1;
}

.tab:after {
  content: "";
  background: #275c78;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.tab:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

