.dash-header {
  margin: 15px;
  margin-left : 70px;
}

.dash-header h1 {
  margin: 5px 0px 3px 0px;
  font-weight: normal;
}

.dash-divider1 {
  width: 162px;
  background: #d9d9d9;
}
.dash-divider2 {
  width: 73px;
  background: #54dcf2;
}

.dash-content {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.dash-schedule-link {
  background-color: #275c78;
  position: absolute;
  bottom: 15px;
  right: 15px;
  border-radius: 7px;
  width: 61px;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard {
  flex: 1;
  margin : 0px 10px;
}

@media (min-width: 600px) {
  .dashboard {
    margin: 0px 80px;
  }

  .dash-header{
    margin-left: 15px;
  }
}

@media (min-width: 1200px) {
  .dash-content {
    grid-template-columns: minmax(400px, 1000px) 350px;
    gap: 10px 20px;
  }
}
