.dashboard {
  flex: 1;
  display: flex;
  background: white;
  flex-direction: column;
}


.dashboard-header{
  margin: 8px;
  font-size: .9em;
  color: #275c78;
}



.dashboard-schedule {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 840;
  width: 100%;
  justify-self: center;
}

.mainFlex {
  display: grid;
  flex: 1;
  background-color: green;
}

