.profile-tag{
    width: min-content;
    border-radius: 7px 7px 0px 0px;
}

.profile-icon{
    position: absolute;
    height: 100%;
    margin-left : 12px;
}


.profile-tag-name {
    position: absolute;
    margin: 0;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0px;
    font-size: 20px;
  }

  .profile-tag-position {
    position: absolute;
    font-size: 14px;
    color: #00BCFF;
    margin: 3px;
  }


.profile-tag p{
    text-transform: capitalize;
}