.timeline {
  display: flex;
  background-color: rgba(245, 245, 245, .5);
  width: max-content;
  padding: 0px 20px;
}

.timeline-labels{
  display : flex;
  flex-direction: column;
  justify-content: space-between;
}


@media screen (min-width : 600px) {
  .timeline {
    position: static;
    display: flex;
    flex-direction: column;
  }
  
  .timeline-labels {
    display: flex;
    justify-content: space-between;
  }
  
  .timeline-labels p {
    text-transform: uppercase;
    opacity: .63;
    font-weight: 250;
    font-style: italic;
  }
  
}