.visualizer{
  flex :1;
  margin :20px;
  margin-top: 10px;
  position: relative;
}

.timeline {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
}

.timeline-labels {
  display: flex;
  justify-content: space-between;
}

.timeline-labels p {
  text-transform: uppercase;
  color: #888888;
}
