.visualizer{
  flex :1;
  display: flex;
  margin : 15px 0px;
}

.timeline {
  display: flex;
  margin-top: 70px;
  padding : 50px 15px 20px 15px ;
}

.timeline-labels{
  display : flex;
  flex-direction: column;
  justify-content: space-between;
}


@media screen (min-width : 600px) {
  .visualizer {
    flex-direction : column;
  }
  .timeline {
    position: static;
    display: flex;
    flex-direction: column;
  }
  
  .timeline-labels {
    display: flex;
    justify-content: space-between;
  }
  
  .timeline-labels p {
    text-transform: uppercase;
    opacity: .63;
    font-weight: 250;
    font-style: italic;
  }
  
}

