.availability h3{
    color: #4C4C4C;
    font-weight: normal;
    font-size: 20px;
    margin: 20px 0px 50px 0px;
}

.availability ol{
    list-style-type: none;
    padding: 0px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap : 20px;
    
}

.availability ol li{
    display: flex;
    flex-direction: column;
    gap : 0px;
}

.availability ol li h5{
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-transform: capitalize;
    margin:0px;
}