
.functions-main{
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-rows: 1fr max-content;
  z-index: 1;
}
.functions-main-open{
  top : 0;
}




/**/

.drawer-container{
  position: static;
  display: flex;
  overflow: overlay;
  background: rgba(46, 58, 64, .95);
}

.drawer-container-hidden{
  display: none;
}

.drawer{
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 10px;
  box-sizing: border-box;
  color: white;
}

.drawer-content{
  flex: 1;
  display: flex;
  flex-direction: column;
}



/**/

@media (min-width : 600px) {
  .functions-main{
    position: relative;
    display: flex;
  }
  .drawer-container{
    position: absolute;
    right: 100%; 
    top: 0px; 
    bottom: 0px;
  }
  
  .drawer{
    width: 300px;
  }
  
}



/*


.functions-drawer {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0px;
    top : 0px;
    left : 0px;
    z-index: 1;
  }

.functions-drawer .functions-button {
    background-color: #54f2d1;
    border-radius: 7px 7px 0px 0px;
    width: 59px;
    height: 37px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.functions-button:hover {
    background-color: #00ffca;
    border: none;
  }



*/
