.appbar{
  background-color: #2E3A40;
  display: flex;
  align-items: center;
  padding: 5px 0px;
  position: sticky;
  top : 0;
  z-index: 1;
  transition-duration: .25s;
}

.appbar-open{
    background-color: #E0E1E2;
}

.navlink{
    text-decoration: none;
    color:  white;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: .7;
    transition-duration: .2s;
}
.navlink img{
    width: 40px;
    margin: 10px
}

.navlink-active{
    opacity: 1;
}

.navlink:hover{
    opacity: 1;
}

.logo{
    margin-top: auto;
    align-self: flex-start;
    padding: 20px;
}

.profile-menu-link{
    color: #2B9DD9;
    text-decoration: none;
}

@media (min-width : 600px) {
    .appbar{
        display: none;
    }
}