/* || Nav Bar*/

/* || Sliders  */

#di {
  display: inline-block;
  margin: 10px;
}

.MuiSlider-valueLabel {
  color: red;
}

.MuiSlider-thumb {
  color: black;
}
.MuiSlider-rail {
  color: rgb(160, 154, 154);
}
.MuiSlider-track {
  color: red;
}
.MuiSlider-mark {
  color: black;
}

.times {
  list-style-type: none;
  padding: 10px;
  margin: 10px;
}

.time {
  margin: 7px;
}

/* || Week  */

#but {
  color: white;
  background-color: red;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0px 8px 15px rgba(1, 0, 0, 0.5);
}
#but:hover {
  background-color: orange;
  box-shadow: 0px 8px 15 px orange;
  transform: translateY(-3px);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  color: white;
}

h6 {
  font-size: 10px;
}

.logo {
  width: 45px;
}

.worker {
  display: flex;
  border: 2px solid grey;
  border-radius: 30px;
  padding: 10px;
  padding-bottom: 1px;
  margin: 10px;
  background-color: white;
}

.worker:hover {
  border: 2px solid green;
}

.w-name {
}

.plus-btn {
  color: hsl(120, 100%, 39%);
  font-weight: 1000;
  padding: 0px;
  background-color: transparent;
  border: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 2.5fr 0.5fr;
  grid-auto-rows: 100vh;
  grid-gap: 3px;
}

.wrapper > div {
  border-right: 0.5px solid grey;
}
.box-1 {
  display: grid;
  justify-content: center;
  grid-template-rows: 0.25fr 2.5fr;
}

.a1 {
  text-align: center;
}

.a2 {
  overflow-y: auto;
  white-space: nowrap;
}

.box-2 > h1 {
  color: white;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  font-size: 60px;
}
.box-2 {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.box-3 {
  display: grid;
  grid-template-columns: 0.25fr 1.75fr;
}

.btn:hover {
  background-color: red;
}

.box-4 {
  display: grid;
  justify-content: center;
}

.sliders {
  overflow-x: auto;
  white-space: nowrap;
}

.slider {
  height: 500px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: lightgray;
}
*::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 20px;
  border: 3px solid red;
}
