.App {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  position: absolute;
  overflow: auto;
}



@media (min-width : 600px) {
  .App{
    background-color: #F6F6F6;
  }

}

body { 
  margin: 0;
}

main {
  justify-content: center;
  display: flex;
}

/* Track */
::-webkit-scrollbar {
  width: 5px;
  padding: 10px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: #cecece;
  border-radius: 20px;
}
