/* || Nav Bar*/

/* || Sliders  */

#di {
  display: inline-block;
  margin: 10px;
}

.MuiSlider-valueLabel {
  color: red;
}

.MuiSlider-thumb {
  color: black;
}
.MuiSlider-rail {
  color: rgb(160, 154, 154);
}
.MuiSlider-track {
  color: red;
}
.MuiSlider-mark {
  color: black;
}

.times {
  list-style-type: none;
  padding: 10px;
  margin: 10px;
}

.time {
  margin: 7px;
}

/* || Week  */

#but {
  color: white;
  background-color: red;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0px 8px 15px rgba(1, 0, 0, 0.5);
}
#but:hover {
  background-color: orange;
  box-shadow: 0px 8px 15 px orange;
  transform: translateY(-3px);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  color: white;
}

h6 {
  font-size: 10px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.circle {
  background-color: red;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 20px;
  color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  color: white;
}
.circle:hover {
  box-shadow: 0px 8px 15 px red;
  transform: translateY(-3px);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
#red {
  background-color: red;
}
#blue {
  background-color: blue;
}
#green {
  background-color: #17fc03;
}
#gray {
  background-color: gray;
}

.logo {
  width: 45px;
}

.tes {
  display: grid;
  grid-template-columns: 0.1fr 0.9fr;
}

p {
  text-align: center;
}

.vertical-menu {
  display: grid;
  justify-content: stretch;
}
.vertical-menu .btn {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-align: center;
}

.vertical-menu .btn:hover {
  background-color: #17fc03;
  color: black;
  transition: all 0.5s ease 0s;
}

.user-thumbnail {
  text-align: center;
}

.nav-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li a {
  padding: 5px;
  display: block;
}

.wrapper {
  display: grid;
  grid-template-columns: 0.5fr 2.5fr 0.5fr;
  grid-auto-rows: 100vh;
  grid-gap: 3px;
}

.wrapper > div {
  border-right: 0.5px solid grey;
}
.box-1 {
  display: grid;
  justify-content: center;
  grid-template-rows: 0.25fr 2.5fr;
}

.a1 {
  text-align: center;
}

.a2 {
  overflow-y: auto;
  white-space: nowrap;
}

.box-2 > h1 {
  color: white;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  font-size: 60px;
}
.box-2 {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.box-3 {
  display: grid;
  grid-template-columns: 0.25fr 1.75fr;
}

.box-4 {
  display: grid;
  justify-content: center;
}

.sliders {
  overflow-x: auto;
  white-space: nowrap;
}

.slider {
  height: 500px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: lightgray;
}
*::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 20px;
  border: 3px solid red;
}
